<div class="container">
  <div class="row">
    <div class="col-6">
      <table class="table table-sm w-auto table-borderless">
        <thead>
          <tr>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%if golf_club.driving_range == true%><i class="material-icons text-success">check_circle</i><%else%><i class="material-icons text-danger">check_circle</i><%end%></td>
            <td>Driving Range</td>
          </tr>
          <tr>
            <td><%if golf_club.putting_green == true%><i class="material-icons text-success">check_circle</i><%else%><i class="material-icons text-danger">check_circle</i><%end%></td>
            <td>Putting Green</td>
          </tr>
          <tr>
            <td><%if golf_club.chipping_green == true%><i class="material-icons text-success">check_circle</i><%else%><i class="material-icons text-danger">check_circle</i><%end%></td>
            <td>Chipping Green</td>
          </tr>
          <tr>
            <td><%if golf_club.practice_bunker == true%><i class="material-icons text-success">check_circle</i><%else%><i class="material-icons text-danger">check_circle</i><%end%></td>
            <td>Practice Bunker</td>
          </tr>
          <tr>
            <td><%if golf_club.motor_cart == true%><i class="material-icons text-success">check_circle</i><%else%><i class="material-icons text-danger">check_circle</i><%end%></td>
            <td>Golf Cart Rental</td>
          </tr>
          <tr>
            <td><%if golf_club.pull_cart == true%><i class="material-icons text-success">check_circle</i><%else%><i class="material-icons text-danger">check_circle</i><%end%></td>
            <td>Pull Cart Rental</td>
          </tr>
                    <tr>
            <td><%if golf_club.golf_clubs_rental == true%><i class="material-icons text-success">check_circle</i><%else%><i class="material-icons text-danger">check_circle</i><%end%></td>
            <td>Golf Club Rental</td>
          </tr>
          <tr>
            <td><%if golf_club.club_fitting == true%><i class="material-icons text-success">check_circle</i><%else%><i class="material-icons text-danger">check_circle</i><%end%></td>
            <td>Golf Club Fitting</td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="col-6">
      <table class="table table-sm w-auto table-borderless">
        <thead>
          <tr>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%if golf_club.pro_shop == true%><i class="material-icons text-success">check_circle</i><%else%><i class="material-icons text-danger">check_circle</i><%end%></td>
            <td>Pro Shop</td>
          </tr>
          <tr>
            <td><%if golf_club.golf_lessons == true%><i class="material-icons text-success">check_circle</i><%else%><i class="material-icons text-danger">check_circle</i><%end%></td>
            <td>Golf Lessons</td>
          </tr>
          <tr>
            <td><%if golf_club.caddie_hire == true%><i class="material-icons text-success">check_circle</i><%else%><i class="material-icons text-danger">check_circle</i><%end%></td>
            <td>Caddies Available</td>
          </tr>
          <tr>
            <td><%if golf_club.restaurant == true%><i class="material-icons text-success">check_circle</i><%else%><i class="material-icons text-danger">check_circle</i><%end%></td>
            <td>Restaurant</td>
          </tr>
                    <tr>
            <td><%if golf_club.changing_room == true%><i class="material-icons text-success">check_circle</i><%else%><i class="material-icons text-danger">check_circle</i><%end%></td>
            <td>Changing Room</td>
          </tr>
          <tr>
            <td><%if golf_club.lockers == true%><i class="material-icons text-success">check_circle</i><%else%><i class="material-icons text-danger">check_circle</i><%end%></td>
            <td>Lockers</td>
          </tr>
          <tr>
            <td><%if golf_club.lodging_on_site == true%><i class="material-icons text-success">check_circle</i><%else%><i class="material-icons text-danger">check_circle</i><%end%></td>
            <td>Lodging on Site</td>
          </tr>
          <tr>
            <td><%if golf_club.reception_hall == true%><i class="material-icons text-success">check_circle</i><%else%><i class="material-icons text-danger">check_circle</i><%end%></td>
            <td>Reception Hall</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>