
<%= form_for(@line_item) do |f| %>
 

  <div class="form-inputs">
   <%= f.hidden_field :itinerary_id, value: current_user.itineraries.last.id %>
   <%= f.hidden_field :golf_course_id, value: golf_course.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
