
<%= form_for(@line_item) do |f| %>
 

  <div class="form-inputs">
    <%= f.collection_select :itinerary_id, Itinerary.all, :id, :title %>
   <%= f.hidden_field :golf_club_id, value: @golf_club.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
